*{
  font-family: 'Source Sans Pro', sans-serif;
  margin:0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-align: center;
  color:aqua;
}
.mid{
  width: 100%;
}
.half {
  width: 50%;
  float: left;
}